form{
  width: 90;
  height: 50w;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items:center;
  background-color: gainsboro;

}

label{
  display: flex;
  flex-direction: column;
}

input{
  border: 5px;
  border: 1px solid green;
  height: 25px;
  width: 250px;
}

h1{
  text-align: center;
}

button{
  background-color: gray;
  width: 250px;
  height: 25px;
  border-radius: 7px;
  font-weight: bold;
}

button:hover{
  background-color: white;
}

span{
  color: red;
}